<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>The Kenya National Bureau of Statistics</title>
</head>

<body>
        <h1>Welcome to the National Bureau of Statisitics</h1>

    <div>
        <p>The Kenya National Bureau of Statistics (KNBS) is the official government agency responsible for collecting, analyzing, and disseminating statistical data in Kenya. Established in 1945, the bureau plays a crucial role in providing accurate, reliable, and up-to-date information on various aspects of the country's economy, society, and demographics.</p>
    </div>

    <div style="width: 500px;">
          <select id="TheYear">
    <option value="2000">2000</option>
    <option value="2001">2001</option>
    <option value="2002">2002</option>
    <!-- Add more options for other years as needed -->
  </select>
        <canvas id="Graph"></canvas>
    </div>
    <script src="./javascripts/main.js"> </script>
</body>

</html>
